/*shared items*/
*{
    font-family: 'Work Sans', sans-serif;
}
/*header section starts*/
nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1800px;
    margin: 0 auto;
    
}
.logo-container{
    display: flex;
    width: 50%;
    align-items: center;
}
.logo-container img{
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
}
.logo-container p{
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #0B0223;
}
.G{
   color: #FF42A5;
}
.nav-items-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.nav-items-container a{
    color: #3C354F;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
}
.nav-icons-container{
    margin-left: 5px;
} /*header section ends*/
/*main section start*/
/*1st banner starts*/
.intro h1, .gamer/*banner2 er class*/, .funny/*banner3 er class*/, .play2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-weight: 800;
}
.intro h3{
    color: #0B0223;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}
.btn{
    display: flex;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.prilli, .secondary, .prilli2/*banner2 er button*/{
    padding: 21px 40px;
    align-items: flex-start;
    background-color: #FF42A5;
    color: #FFF;
    border-radius: 45px;
    border: none;
    margin-right: 15px;
}
.secondary{
    background: #4EC5F7;
}
.banner{
    display: flex;
    justify-content: space-between;
}
.triple-img{
    width: 500px;
    height: 500px;
    flex-shrink: 0;
} /*1st ends*/
/*banner2 starts*/
.banner2{
    display: flex;
    justify-content: space-between;
}
.single-img{
    width:500px;
    height: 500px;
    flex-shrink: 0;
}
.gamer{
 font-size: 40px;
 text-align: right;
}
.banner2-p, .banner2-p2{
    width: 520px;
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.prilli2{
margin-left: 355px;
}
.banner2-p2{
    font-size: 25px;
    font-weight: 500;
}
.breakP{
    color: #534C64;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
} /*banner 2 ends*/
/*banner 3 starts*/
.intro2{
    text-align: center;
    padding-bottom: 25px;
}
.online{
    color: #0B0223;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.funny{
    font-size: 48px;
}
.sm-des{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.cards{
    display: flex;
   
}

.cards img{
    height: 90%;
    width: 90%;
    transition: transform 1.5s;
}
.cards img:hover{
    opacity: 0.8;
    transform:scale(1.2);
} /*banner 3 ends*/
/*banner 4 starts*/
.play, .play2{
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
}
.play3{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.banner4{
    display: flex;
    justify-content: space-between;
}
.img5 img{
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 10px;
}
.img6 img{
    width: 150px;
    height: 150px;
    bottom: 80px;
    left: -40px;
    border-radius: 10px;
} /*banner 4 ends*/
/*last stage*/

.last{
    display: flex;
    margin-bottom: 30px;
    text-align: center;
}
.last img{
    margin-left: 20px;
}
.last2{
    display: flex;
    margin-bottom: 20px;
}
.last2 img{
    margin-left: 40px;
}
.x:hover{
    border: 5px solid #0B0223;
    border-radius: 15px;
}
.y:hover{
    border: 5px solid #0B0223;
    border-radius: 15px;
}
/*last stage ends*/
/*footer start*/
.foot{
    width: 1100px;
    height: 500px;
    background: #0B0223;
}
.footer{
    display: flex;
    margin-left: 400px;
}
.last-logo{
   margin-top: 66px;
}
 .last-des{
    color: #FFF;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 10px;

 }   
 .last-des span{
    color:#FF42A5 ;
 }
 .last-nav{
    margin-left: 170px;
 }
 .last-nav a{
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 25px;
}
.last-icons{
    text-align: center;
    margin-top: 30px;
}
.last-icons i {
    color: #FFF;
    width: 40px;
    height: 40px;
    font-size: 30px;
}
.last-nav2{
   
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: normal;
margin-top: 20px;
}
.last-nav2 a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    margin-right: 20px;
}
.lastP{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}
/*Happy Ending*/